@font-face {
    font-family: Norse;
    src: url("./fonts/norse-kawl-webfont.woff") format("woff"),
    url("./fonts/norse-kawl-webfont.woff2") format("woff2");
}

body, html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.content {
    flex: 2;
}

.credit {
    font-size: 0.7rem;
    margin: 10px auto;
}

.credit > a {
    color: white;
}

.image {
    background-image: url("https://images.unsplash.com/photo-1605190587727-519a8020dbf6?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
}

main {
    display: flex;
}

.title {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    font-family: Norse, sans-serif;
    font-size: 60px;
    height: 80px;
    justify-content: center;
    margin-top: 20vh;
}

.title img {
    margin-right: 10px;
}

.white {
    color: white;
}

